<div id="home">
  <div class="container">
    <div class="home-wrap">
      <div id="home-slick">
        <div class="banner banner-1">
          <%= image_tag ("banner01.jpg") %>
          <div class="banner-caption text-center">
            <h1>Bags sale</h1>
            <h3 class="white-color font-weak">Up to 50% Discount</h3>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>

        <div class="banner banner-1">
          <%= image_tag ("banner02.jpg") %>
          <div class="banner-caption">
            <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>

        <div class="banner banner-1">
          <%= image_tag ("banner03.jpg") %>
          <div class="banner-caption">
            <h1 class="white-color">New Product <span>Collection</span></h1>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <%= image_tag "banner10.jpg" %>
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <%= image_tag "banner11.jpg" %>
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
        <a class="banner banner-1" href="#">
          <%= image_tag "banner12.jpg" %>
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <% @categories.each do |category| %>
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2 class="title"><%= category.name %></h2>
            <div class="pull-right">
              <div class="product-slick-dots-2 custom-dots">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="product product-single product-hot">
            <div class="product-thumb">
              <div class="product-label">
                <span class="sale">-20%</span>
              </div>
              <ul class="product-countdown">
                <li><span>00 H</span></li>
                <li><span>00 M</span></li>
                <li><span>00 S</span></li>
              </ul>

            </div>
            <div class="product-body">
              <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
              </div>
              <h2 class="product-name"><%= link_to @products.first.name, :controller => "products", :action => "show", :id => @products.first.id %></h2>
              <% if current_user %>
                <div class="product-btns">
                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-sm-6 col-xs-6">
          <div class="row">
            <%= content_tag :div, id: "product-slick-#{category.id}", class: "product-slick" do %>
              <% category.products.each do |product| %>
                <div class="product product-single">
                  <div class="product-thumb">
                    <%= image_tag product.images.first.image_url %>
                  </div>
                  <div class="product-body">
                    <h3 class="product-price"><%= product.price %></h3>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o empty"></i>
                    </div>
                    <h2 class="product-name"><%= link_to (product.name.truncate(10)), :controller => "products", :action => "show", :id => product.id %></h2>
                    <% if current_user %>
                    <div class="product-btns">
                      <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                      <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                      <%= button_to 'Add to Cart', order_items_path(:product_id => product), :remote => true, class: "primary-btn add-to-cart" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="banner banner-1">
          <%= image_tag "banner13.jpg" %>
          <div class="banner-caption text-center">
            <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <%= image_tag "banner11.jpg" %>
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <%= image_tag "banner12.jpg" %>
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Latest Products</h2>
        </div>
      </div>

      <% @products.each do |product| %>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="product product-single">
            <div class="product-thumb">
              <div class="product-label">
                <span>New</span>
                <span class="sale">-20%</span>
              </div>

            </div>

            <div class="product-body">
              <h3 class="product-price"><%= product.price %></h3>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
              </div>
              <h2 class="product-name"><%= link_to (product.name.truncate(10)), :controller => "products", :action => "show", :id => product.id %></h2>
              <% if current_user %>
                <div class="product-btns">
                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                  <%= button_to 'Add to Cart', order_items_path(:product_id => product), :remote => true, class: "primary-btn add-to-cart" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @products %>
    </div>
  </div>
</div>
