<div class="container-fluid">
  <div class="row">
    <div class="nav-dashboard col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="list-nav">NAVIGATION</li>
        <li class="active"><%= link_to "Categories", admin_categories_path %></li>
        <li><%= link_to "Products", admin_products_path %></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="content">
        <div class="ad-head-title">
          <h1>Show Category</h1>
        </div>

        <div id="breadcrumb" class="bread-admin">
          <ul class="breadcrumb">
            <li><%= link_to "Dashboard", admin_path %></li>
            <li><%= link_to "Categories", admin_categories_path %></li>
            <li>Category #<%= @category.id %></li>
          </ul>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><%= link_to '<i class="fa fa-eye"></i> Show'.html_safe, admin_category_path(@category) %></li>
          <li><%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_admin_category_path(@category) %></li>
          <li><%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, [:admin, @category], method: :delete, data: { confirm: 'Are you sure?'} %></li>
        </ul>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>NAME</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @category.id %></td>
              <td><%= @category.name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

