<div class="container-fluid">
    <div class="row">
      <div class="nav-dashboard col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="list-nav">NAVIGATION</li>
          <li><%= link_to "Categories", admin_categories_path %></li>
          <li class="active"><%= link_to "Products", admin_products_path %></li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="content">
          <div class="ad-head-title">
            <h1>List of produtcs</h1>
          </div>

          <div id="breadcrumb" class="bread-admin">
            <ul class="breadcrumb">
              <li><%= link_to "Dashboard", admin_path %></li>
              <li><%= link_to "Products", admin_products_path %></li>
            </ul>
          </div>

          <ul class="nav nav-tabs">
            <li class="active"><%= link_to '<i class="fa fa-list"></i> List'.html_safe, admin_products_path %></li>
            <li><%= link_to '<i class="fa fa-plus"></i> Add new'.html_safe, new_admin_product_path %></li>
          </ul>

          <table class="table">
            <thead>
              <tr>
                <th>CODE</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>CATEGORY</th>
                <th>DESCRIPTION</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.code %></td>
                  <td><%= product.name %></td>
                  <td><%= product.price %></td>
                  <td><%= product.category.name %></td>
                  <td><%= product.description.truncate(30) %></td>
                  <td>
                    <ul class="inline list-inline">
                    <li><%= link_to fa_icon("eye"), admin_product_path(product) %></li>
                    <li><%= link_to fa_icon("edit"), edit_admin_product_path(product) %></li>
                    <li><%= link_to fa_icon("trash"), [:admin, product], method: :delete, data: { confirm: 'Are you sure?'} %></li>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @products, theme: 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
</div>
