<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="order-summary clearfix">
          <div class="section-title">
            <h3>PRODUCTS</h3>
          </div>
          <table class="shopping-cart-table table">
            <thead>
              <tr>
                <th class="text-center">CODE</th>
                <th class="text-center">NAME</th>
                <th class="text-center">PRICE</th>
                <th class="text-center">DESCRIPTION</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td class="text-center"><%= product.code %></td>
                  <td class="text-center"><%= product.name %></td>
                  <td class="text-center"><%= product.price %></td>
                  <td class="text-center"><%= product.description.truncate(20) %></td>
                  <div class="btn-group">
                    <td><%= link_to fa_icon("eye"), admin_product_path(product) %></td>
                    <td><%= link_to fa_icon("edit"), edit_admin_product_path(product) %></td>
                    <td><%= link_to fa_icon("trash"), [:admin, product], method: :delete, data: { confirm: 'Are you sure?'} %></td>
                  </div>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pull-left">
            <%= link_to 'Add Product', new_admin_product_path, class: "primary-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
