<div class="container-fluid">
  <div class="row">
    <div class="nav-dashboard col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="list-nav">NAVIGATION</li>
        <li><%= link_to "Categories", admin_categories_path %></li>
        <li class="active"><%= link_to "Products", admin_products_path %></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="content">
        <div class="ad-head-title">
          <h1>New Product</h1>
        </div>

        <div id="breadcrumb" class="bread-admin">
          <ul class="breadcrumb">
            <li><%= link_to "Dashboard", admin_path %></li>
            <li><%= link_to "Products", admin_products_path %></li>
            <li>New</li>
          </ul>
        </div>

        <ul class="nav nav-tabs">
          <li><%= link_to '<i class="fa fa-list"></i> List'.html_safe, admin_products_path %></li>
          <li  class="active"><%= link_to '<i class="fa fa-plus"></i> Add new'.html_safe, new_admin_product_path %></li>
        </ul>

        <%= form_for([:admin, Product.new], html: {multipart: true}) do |f| %>
          <div class="col-md-5">
            <div class="form-group">
              <label class="col-sm-2 col-form-label"><b>Code</b></label>
              <%= f.text_field :code, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-form-label"><b>Name</b></label>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-form-label"><b>Price</b></label>
              <%= f.text_field :price, class: "form-control" %>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-form-label"><b>Description</b></label>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div class="form-group add-img">
              <%= link_to_add_association 'Add Image', f, :images, class: "btn btn-warning" %>
              <div class="image-form">
                <%= f.fields_for :images do |img| %>
                  <%= render "image_fields", f: img %>
                <% end %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.submit "Save Product", class: "btn btn-primary" %>
              <%= link_to "Back Product's Page", admin_products_path(), class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
