<!-- HEADER -->
<header>
  <div id="header">
    <div class="container">
      <div class="pull-left">
        <div class="header-logo">
          <%= link_to image_tag("logo.png"), root_path %>
        </div>
        <div class="header-search">
          <%= search_form_for @q do |f| %>
            <%= f.search_field :name_cont %>
            <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, "id", "name"), include_blank: true %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>

      <div class="pull-right">
        <ul class="header-btns">
          <li class="header-account dropdown default-dropdown">
            <% if current_user %>
              <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                <%= image_tag current_user.avatar.url, size:"40x40" %>
              </div>
              <ul class="custom-menu">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                <div class="header-btns-icon">
                  <i class="fa fa-user-o"></i>
                </div>
              </div>
              <ul class="custom-menu">
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "Sign up", new_user_registration_path%></li>
              </ul>
            <% end %>
          </li>
          <li class="header-cart dropdown default-dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <div class="header-btns-icon">
                <%= link_to '<i class="fa fa-shopping-cart"></i>'.html_safe, carts_path %>
                <span class="qty"><%= current_user.cart.order_items.size %></span>
              </div>
            </a>
          </li>
          <li class="nav-toggle">
            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div id="navigation">
  <div class="container">
    <div id="responsive-nav">
      <div class="category-nav show-on-click">
        <span class="category-header">Categories <i class="fa fa-list"></i></span>
        <ul class="category-list">
          <% @categories.each do |i| %>
            <li><%= link_to i.name, category_path(i.id) %></li>
          <% end %>
        </ul>
      </div>
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Men</a></li>
          <li><a href="#">Sales</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
